* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 200ms;
  outline: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

/* DEFAULTE */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* DEFAULTE */
html {
  cursor: url("../pic/cursor.png"), auto;
}

body {
  font-family: sans-serif;
}

.bg {
  background: rgba(254, 220, 209, 0.8) url(../pic/background.png) no-repeat;
  background-size: cover;
}

.container {
  padding-left: 150px;
  padding-right: 150px;
  margin: auto;
  max-width: 1480px;
}

:root {
  --main-color: #fd472d;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;
  font-weight: 700;
}

.nav_menu a {
  position: relative;
  transition: 250ms;
}

.nav_menu a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background: var(--main-color);
  transition: 200ms;
}

.nav_menu a:hover:after {
  width: 110%;
}

.nav_tools {
  display: flex;
  align-items: center;
  gap: 30px;
}

.fa-solid {
  display: none;
}

.nav_tools button {
  background: var(--main-color);
  padding: 10px 25px;
  border: none;
  color: white;
  font-weight: 700;
  transition: 400ms;
  border-radius: 5px;
  cursor: pointer;
}

.nav_tools button:hover {
  box-shadow: 0 0 10px 1px var(--main-color);
}

.nav_tools span {
  display: flex;
  gap: 5px;
  font-family: sans-serif;
  font-weight: 700;
  align-items: center;
}

.nav_tools span i {
  font-size: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  padding-top: 125px;
}

.main_left {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main_left h1 {
  font-size: 64px;
  font-family: sans-serif;
  max-width: 500px;
}

.main_play {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.main_play i {
  border: 15px solid #f7b0a5;
  color: white;
  padding: 18px 20px;
  background: var(--main-color);
  border-radius: 50%;
  transition: 350ms;
}

.main_play i:hover {
  background: #ff2200;
  box-shadow: 0 0 10px 1px var(--main-color);
}

.main_play p {
  font-weight: 700;
  font-family: sans-serif;
  padding-top: 5px;
}

.main_tools {
  display: flex;
  gap: 25px;
}

.button_1 {
  background: transparent;
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
}

.button_1:hover {
  box-shadow: 0 0 10px 1px var(--main-color);
}

.button_2 {
  background: var(--main-color);
  border: 1.5px solid var(--main-color);
  color: white;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
}

.button_2:hover {
  box-shadow: 0 0 10px 1px var(--main-color);
}

.main_right {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.main_right img {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 50px;
  align-items: center;
}

.circle_2 {
  width: 10px;
  height: 10px;
  background: var(--main-color);
  border-radius: 50%;
  transition: 300ms;
}

.circle_2:hover {
  box-shadow: 0 0 10px 1px var(--main-color);
}

.content span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content span h2 {
  font-size: 46px;
  font-family: sans-serif;
}

.content span p {
  display: flex;
  gap: 10px;
  font-family: sans-serif;
}

.fa-solid {
  display: none;
}

.noss {
  display: none;
}

.nav_p {
  display: none;
}

@media (max-width: 1280px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1080px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  nav {
    padding-top: 15px;
  }
  .logo {
    width: 100px;
  }
  .nav_menu {
    font-size: 12px;
  }
  .nav_tools {
    gap: 20px;
  }
  .nav_tools button {
    font-size: 12px;
  }
  .nav_tools span {
    font-size: 12px;
  }
  main {
    padding-top: 100px;
  }
  .main_left {
    gap: 30px;
  }
  .main_left h1 {
    font-size: 46px;
    max-width: 400px;
  }
  .main_play {
    gap: 18px;
  }
  .circle {
    top: -12px;
    left: -12px;
    padding: 36px;
  }
  .main_play i {
    position: relative;
    color: white;
    padding: 16px 18px;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 123;
  }
  .main_play p {
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 5px;
  }
  .main_tools {
    display: flex;
    gap: 25px;
  }
  .button_1 {
    background: transparent;
    border: 1.5px solid var(--main-color);
    color: var(--main-color);
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
  }
  .button_2 {
    background: var(--main-color);
    border: 1.5px solid var(--main-color);
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
  }
  .main_right {
    display: flex;
    align-items: center;
    max-width: 400px;
  }
  .main_right img {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 35px;
    align-items: center;
  }
  .circle_2 {
    width: 10px;
    height: 10px;
    background: var(--main-color);
    border-radius: 50%;
  }
  .content span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .content span h2 {
    font-size: 40px;
    font-family: sans-serif;
  }
  .content span p {
    font-size: 12px;
    display: flex;
    gap: 10px;
    font-family: sans-serif;
  }
}
@media (max-width: 790px) {
  .noss {
    display: flex;
  }
  .logo {
    width: 80px;
  }
  .nav_menu {
    display: none;
  }
  .nav_tools {
    gap: 20px;
  }
  .nav_tools button {
    display: none;
  }
  .nav_tools span {
    display: none;
  }
  .fa-bars {
    display: flex;
    font-size: 20px;
  }
  .nav_p {
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
  }
  .nav_tools button {
    font-size: 12px;
  }
  .nav_tools span {
    font-size: 12px;
  }
  main {
    padding-top: 100px;
  }
  .main_left {
    gap: 30px;
  }
  .main_left h1 {
    font-size: 32px;
    max-width: 280px;
  }
  .main_play {
    gap: 18px;
  }
  .circle {
    top: -8px;
    left: -8px;
    padding: 22px;
  }
  .main_play i {
    position: relative;
    color: white;
    padding: 10px 12px;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 123;
  }
  .main_play p {
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 5px;
    font-size: 12px;
  }
  .main_tools {
    display: flex;
    gap: 25px;
  }
  .button_1 {
    background: transparent;
    border: 1.5px solid var(--main-color);
    color: var(--main-color);
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 10px;
  }
  .button_2 {
    background: var(--main-color);
    border: 1.5px solid var(--main-color);
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 10px;
  }
  .main_right {
    display: flex;
    align-items: center;
    max-width: 300px;
  }
  .main_right img {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 35px;
    align-items: center;
  }
  .circle_2 {
    width: 8px;
    height: 8px;
    background: var(--main-color);
    border-radius: 50%;
  }
  .content span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .content span h2 {
    font-size: 30px;
    font-family: sans-serif;
  }
  .content span p {
    font-size: 10px;
    display: flex;
    gap: 10px;
    font-family: sans-serif;
  }
}
@media (max-width: 605px) {
  .logo {
    width: 80px;
  }
  .nav_menu {
    display: none;
  }
  .nav_tools {
    gap: 20px;
  }
  .nav_tools button {
    display: none;
  }
  .nav_tools span {
    display: none;
  }
  .fa-bars {
    display: flex;
    font-size: 20px;
  }
  .nav_p {
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
  }
  .nav_tools button {
    font-size: 12px;
  }
  .nav_tools span {
    font-size: 12px;
  }
  main {
    padding-top: 100px;
  }
  .main_left {
    gap: 30px;
  }
  .main_left h1 {
    font-size: 22px;
    max-width: 200px;
  }
  .main_play {
    gap: 10px;
    display: flex;
  }
  .main_play i {
    border: 10px solid #f7b0a5;
    color: white;
    padding: 14px 16px;
    font-size: 12px;
    background: var(--main-color);
    border-radius: 50%;
    transition: 350ms;
  }
  .main_play p {
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 5px;
    font-size: 12px;
  }
  .main_tools {
    display: flex;
    gap: 10px;
  }
  .button_1 {
    background: transparent;
    border: 1.5px solid var(--main-color);
    color: var(--main-color);
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 8px;
  }
  .button_2 {
    background: var(--main-color);
    border: 1.5px solid var(--main-color);
    color: white;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 8px;
  }
  .main_right {
    display: flex;
    align-items: center;
    max-width: 180px;
  }
  .main_right img {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 35px;
    align-items: center;
  }
  .circle_2 {
    width: 6px;
    height: 6px;
    background: var(--main-color);
    border-radius: 50%;
  }
  .content span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .content span h2 {
    font-size: 20px;
    font-family: sans-serif;
  }
  .content span p {
    font-size: 8px;
    display: flex;
    gap: 10px;
    font-family: sans-serif;
  }
}
@media (max-width: 500px) {
  .logo {
    width: 80px;
  }
  .nav_menu {
    display: none;
  }
  .nav_tools {
    gap: 20px;
  }
  .nav_tools button {
    display: none;
  }
  .nav_tools span {
    display: none;
  }
  .fa-bars {
    display: flex;
    font-size: 20px;
  }
  .nav_p {
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    display: flex;
  }
  .nav_tools button {
    font-size: 12px;
  }
  .nav_tools span {
    font-size: 12px;
  }
  main {
    padding-top: 100px;
  }
  .main_left {
    gap: 30px;
  }
  .main_left h1 {
    font-size: 22px;
    max-width: 200px;
  }
  .main_play {
    gap: 5px;
    display: flex;
  }
  .main_play i {
    border: 8px solid #f7b0a5;
    color: white;
    padding: 10px 12px;
    font-size: 10px;
    background: var(--main-color);
    border-radius: 50%;
    transition: 350ms;
  }
  .main_play p {
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 5px;
    font-size: 10px;
  }
  .main_tools {
    display: flex;
    gap: 10px;
  }
  .button_1 {
    background: transparent;
    border: 1.5px solid var(--main-color);
    color: var(--main-color);
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 8px;
  }
  .button_2 {
    background: var(--main-color);
    border: 1.5px solid var(--main-color);
    color: white;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 8px;
  }
  .main_right {
    display: flex;
    align-items: center;
    max-width: 180px;
  }
  .main_right img {
    width: 100%;
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 35px;
    align-items: center;
  }
  .circle_2 {
    width: 4px;
    height: 4px;
    background: var(--main-color);
    border-radius: 50%;
  }
  .content span {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .content span h2 {
    font-size: 16px;
    font-family: sans-serif;
  }
  .content span p {
    font-size: 6px;
    display: flex;
    gap: 10px;
    font-family: sans-serif;
  }
}
@media (max-width: 405px) {
  main {
    flex-direction: column;
  }
  .main_left h1 {
    font-size: 32px;
    max-width: 280px;
  }
  .main_tools {
    gap: 25px;
  }
  .button_1 {
    font-size: 12px;
    padding: 10px 25px;
  }
  .button_2 {
    font-size: 12px;
    padding: 10px 25px;
  }
  .main_right {
    padding-top: 25px;
    max-width: 300px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .circle_2 {
    display: none;
  }
  .content span {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .content span h2 {
    font-size: 42px;
  }
  .content span p {
    font-size: 16px;
    font-weight: 600;
    width: 300px;
  }
}
.continue {
  display: flex;
  justify-content: space-between;
  background: white;
  margin-top: 75px;
  padding-top: 125px;
  padding-bottom: 125px;
}
.continue_left {
  max-width: 600px;
}
.continue_left img {
  width: 100%;
  transition: 400ms;
}
.continue_left img:hover {
  border-radius: 0 90px 0 90px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}
.continue_right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}
.continue_right_big_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.continue_right_big_title h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}
.continue_right_big_title h2 {
  font-size: 46px;
}
.continue_right_min_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.continue_right_element {
  display: flex;
  gap: 10px;
  max-width: 425px;
}
.continue_right_element i {
  color: #fd472d;
}
.continue_right button {
  background: #fd472d;
  padding: 10px 25px;
  border: 1.5px solid #fd472d;
  color: white;
  font-weight: 700;
  transition: 400ms;
  border-radius: 5px;
  cursor: pointer;
}
.continue_right button:hover {
  box-shadow: 0 0 10px 1px var(--main-color);
}

.continue_2 {
  display: flex;
  background: white;
  padding-top: 125px;
  padding-bottom: 125px;
  flex-direction: column;
  gap: 100px;
}
.continue_2_tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.continue_2_tools_left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.continue_2_tools_left p {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.continue_2_tools_left h2 {
  font-size: 46px;
}
.continue_2_tools_right {
  background: white;
  padding: 10px 25px;
  border: 1.5px solid #fd472d;
  color: #fd472d;
  font-weight: 700;
  transition: 400ms;
  border-radius: 5px;
  cursor: pointer;
}
.continue_2_tools_right:hover {
  box-shadow: 0 0 10px 1px var(--main-color);
}
.continue_2_element {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}
.continue_2_element_item {
  width: 555px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
  border-radius: 30px 5px 5px 5px;
  display: flex;
}
.continue_2_element_item_left {
  max-width: 100%;
  height: 200px;
}
.continue_2_element_item_left:hover {
  transform: translate(10px, 10px) scale(0.9);
  box-shadow: -2px -2px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.continue_2_element_item_left img {
  max-width: 100%;
  height: 100%;
}
.continue_2_element_item_left img:hover {
  border-radius: 30px 10px 0 10px;
}
.continue_2_element_item_right {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.continue_2_element_item_right_title_1 {
  background: #03cea4;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.continue_2_element_item_right_title_1:hover {
  box-shadow: 0 0 10px 1px #03cea4;
  border-radius: 0 10px 0 10px;
}
.continue_2_element_item_right_title_2 {
  background: #5a87fc;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.continue_2_element_item_right_title_2:hover {
  box-shadow: 0 0 10px 1px #5a87fc;
  border-radius: 0 10px 0 10px;
}
.continue_2_element_item_right_title_3 {
  background: #f5992d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.continue_2_element_item_right_title_3:hover {
  box-shadow: 0 0 10px 1px #f5992d;
  border-radius: 0 10px 0 10px;
}
.continue_2_element_item_right_title_4 {
  background: #03cea4;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.continue_2_element_item_right_title_4:hover {
  box-shadow: 0 0 10px 1px #03cea4;
  border-radius: 0 10px 0 10px;
}
.continue_2_element_item_right_title_5 {
  background: #5a87fc;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.continue_2_element_item_right_title_5:hover {
  box-shadow: 0 0 10px 1px #5a87fc;
  border-radius: 0 10px 0 10px;
}
.continue_2_element_item_right_title_6 {
  background: #f13370;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 500ms;
}
.continue_2_element_item_right_title_6:hover {
  box-shadow: 0 0 10px 1px #f13370;
  border-radius: 0 10px 0 10px;
}
.continue_2_element_item_right p {
  color: gray;
}
.continue_2_element_item_right p span {
  color: #ff4242;
}

@media (max-width: 1434px) {
  .continue_2_element_item {
    width: 525px;
  }
}
@media (max-width: 1375px) {
  .continue_2_element_item {
    width: 500px;
  }
}
@media (max-width: 1325px) {
  .continue_2_element_item {
    width: 475px;
  }
}
@media (max-width: 1140px) {
  .continue {
    flex-direction: column;
    gap: 25px;
  }
}
@media (max-width: 1025px) {
  .continue_2_element_item {
    width: 100%;
  }
}
@media (max-width: 525px) {
  .continue_2_tools_left p {
    font-size: 10px;
  }
  .continue_2_tools_left h2 {
    font-size: 26px;
  }
  .continue_2_tools_right {
    font-size: 10px;
  }
  .continue_2_element {
    gap: 15px;
  }
  .continue_2_element_item_left {
    max-width: 100%;
    max-height: 100%;
  }
  .continue_2_element_item_right div {
    font-size: 12px;
  }
  .continue_2_element_item_right h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .continue_2_element_item_right p {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .continue {
    display: flex;
    justify-content: space-between;
    background: white;
    margin-top: 75px;
    padding-top: 125px;
    padding-bottom: 125px;
  }
  .continue_left {
    max-width: 600px;
  }
  .continue_left img {
    width: 100%;
    transition: 400ms;
  }
  .continue_left img:hover {
    border-radius: 0 90px 0 90px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    transform: scale(0.9);
  }
  .continue_right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
  }
  .continue_right_big_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .continue_right_big_title h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10px;
  }
  .continue_right_big_title h2 {
    font-size: 26px;
  }
  .continue_right_min_title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
  }
  .continue_right_element {
    display: flex;
    gap: 10px;
    max-width: 425px;
  }
  .continue_right_element i {
    color: #fd472d;
  }
  .continue_right button {
    font-size: 10px;
    background: #fd472d;
    padding: 10px 25px;
    border: 1.5px solid #fd472d;
    color: white;
    font-weight: 700;
    transition: 400ms;
    border-radius: 5px;
    cursor: pointer;
  }
  .continue_right button:hover {
    box-shadow: 0 0 10px 1px var(--main-color);
  }
  .continue_2_tools {
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
  .continue_2_tools_left p {
    font-size: 10px;
  }
  .continue_2_tools_left h2 {
    font-size: 26px;
  }
  .continue_2_tools_right {
    font-size: 10px;
  }
  .continue_2_element {
    gap: 15px;
  }
  .continue_2_element_item {
    height: 125px;
  }
  .continue_2_element_item_left {
    max-width: 100%;
    max-height: 100%;
  }
  .continue_2_element_item_right div {
    font-size: 12px;
  }
  .continue_2_element_item_right h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .continue_2_element_item_right p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */